*.pyc
readme.html
pypipegraph/tests/htmlcov
pypipegraph/tests/out/*
pypipegraph/tests/logs/*
pypipegraph/tests/cache/*
pypipegraph/tests/.*
pypipegraph/tests/a
pypipegraph/tests/.*
docs/_build/*
build/*
pypipegraph/tests/covhtml/*
.pytest_cache/
__pycache__/
MANIFEST
dist/
logs/
out/
pypipegraph/logs
pypipegraph/tests/run
*.egg-info
.pypipegraph_status_robust*
.coverage
.coverage*
.eggs
tests/run
pip-wheel-metadata
